.promoImageContainer{
  max-width: 1920px;
  margin: auto;
}
.promoImageGrid{
  padding: min(4vw,80px);
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.promoImageWrapper{
  width:  100%;

  min-height: 300px;
  height: 40vh;
  max-height: 1080px;

  position: relative;
  text-align: center;

  outline: 1px solid white;
  border-radius: 30px;
  
}
.promoImageWrapper h2{
  position: absolute;
  font-size: 17px;
  width: 100%;
  margin-top: 50px;
  padding: 15px 0px 15px 0px;
  box-shadow: 0px 5px 33px 5px #000000;
  background-color: white;
}
.promoImageWrapper img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  border-radius: 30px;
}